<div class="container-fluid row mx-auto">   
    <div class="card-container">
      <div class="float-layout ">
        <div class="card-image " >
          <img class=""  src="../../../assets/banners/—Pngtree—transportation logistics container transport boat_5324816.png" alt="">
          <div class="card d-flex align-items-center justify-content-center">
            <div class="card-title mb-5" style="color:#2465a9"><span style="color:#9a1a33" class="border-bottom border-5 border-primary ">Who</span> We Are</div>
            <div class="card-desc fs-4">
                <samp>
                    <code>ZELELEM KEBEDE EXPORT IMPORT</code> is the company established in 2010 under Ethiopian Commercial
                     law and engaged in import of vehicles, and other goods for Ethiopian market.  The company
                      has been an international supplier of China top brands construction equipment for more 
                      than 10 years! A privately owned company, it has established itself as a Russian, Eastern
                       Europe and Middle Asia markets leader and one of the largest specialists in vehicles and equipment sales.
                  </samp>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="float-layout">
        <div class="card-image">
          <div class="card d-flex align-items-center justify-content-center">
            <div class="card-title mb-5" style="color:#2465a9"><span style="color:#9a1a33" class="border-bottom border-5 border-primary ">What</span> We Do</div>
            <div class="card-desc fs-4">
              <samp>
                <code>ZELELEM KEBEDE EXPORT IMPORT</code> is the company established in 2010 under Ethiopian Commercial
                 law and engaged in import of vehicles, and other goods for Ethiopian market.  The company
                  has been an international supplier of China top brands construction equipment for more 
                  than 10 years! A privately owned company, it has established itself as a Russian, Eastern
                   Europe and Middle Asia markets leader and one of the largest specialists in vehicles/equipment sales.
              </samp>
            </div>
          </div>
          <img class=""  src="../../../assets/banners/—Pngtree—happy client vector customer person_5189759.png" alt="">

        </div>
      </div>
    </div>

    <div class="card-container mb-5 pb-5">
      <div class="float-layout">
        <div class="card-image">
          <img class=""  src="../../../assets/banners/My project-1.png" alt="">
          <div class="card d-flex align-items-center justify-content-center">
            <div class="card-title mb-5" style="color:#2465a9"><span style="color:#9a1a33" class="border-bottom border-5 border-primary ">Our</span> Partners</div>
            <div class="card-desc fs-4">
              <samp>ZELELEM KEBEDE EXPORT IMPORT has developed its own dealer network all around Russia, Kazakhstan, Ukraine, West Africa, Eastern Europe and Middle Asia. Considering that business is growing, new markets and areas will be covered soon!
                Being a highly-experienced supplier, ZELELEM KEBEDE EXPORT IMPORT also brings with it the most experienced and respected professionals in the industry.</samp>
            </div>

          </div>
        </div>
      </div>
    </div>

    </div>
