<section class="container mt-5 pt-5" >
    <h1 class="fw-bold text-center mt-5" style="color:#0476d0 ;">Contact Us</h1>
        <p class="text-center fs-3 mt-5" style="color: #0476d0;">You can order us here or contact us using an email.</p>
        <div class="form-floating mt-5">
            <input type="text" class="form-control" id="floatingName" placeholder="name" style="height: 80px">
            <label for="floatingName" class=" fs-5">Name</label>
          </div>
        <div class="form-floating mt-5">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" style="height: 80px">
            <label for="floatingInput" class=" fs-5">Email</label>
          </div>
        <div class="form-floating mt-5">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 200px"></textarea>
            <label for="floatingTextarea2" class=" fs-5">Message</label>
          </div>
        <div class="mt-5 mb-5" style="width:100%;">
          <button type="submit" class="btn btn-outline-danger pt-3 pb-3">Send a Message</button>
        </div>
</section>