<section class="mt-5 pt-5" >
    <div class="container-fluid row mx-auto  mt-5 pt-5">   
      <div class="card-container mb-5 ">
        <div class="float-layout border">
          <div class="card-image d-flex justify-content-between" >
            <img src="../../../assets/logo77.jpg" alt="" style="max-width: 800px;">
            <div class="card">
              <div class="card-desc">
               <samp>
                <div class="">
                    <div class="row mt-5 mb-5">
                        <div class="col-2">
                            <span class="address-logo">
                                <i class="fas fa-location-pin-lock"></i>
                            </span>
                            <span class="saprater">:</span>
                        </div>
                        <div class="col-10">                           
                            <p class="fs-4 mt-1">Ethiopia, Addis Ababa</p>
                            <p class="fs-4 mt-1">Wolo Sefer Medhina Building 1<sup>st</sup> Floor #101</p>
                        </div>
                    </div>

                   <div class="row mb-5">
                    <div class="col-2 d-flex ">
                        <span class="address-logo">
                            <i class="fas fa-phone-alt"></i>
                        </span>
                        <span class="saprater">:</span>
                    </div>
                    <div class="col-10">
                        <p class="fs-4">+251 914 883 388</p>
                        <p class="fs-4">+251 932 737 833</p>
                        <p class="fs-4">+251 913 400 503</p>
                        <p class="fs-4">+251 114 701 680</p>
                    </div>
                   </div>

                   <div class="row mb-5">
                    <div class="col-2">
                        <span class="address-logo">
                            <i class="far fa-envelope" style="width: 50px"></i>
                        </span>
                        <span class="saprater">:</span>
                    </div>
                    <div class="col-10">
                        <p class="fs-4" href="malito:zelalemkebedegie21@gmail.com">zelalemkebedegie21@gmail.com</p>
                    </div>
                   </div>
                   
                </div>
               </samp>
              </div>
              <p class="card- ms-2"><small class="text-muted">Last updated a while ago</small></p>
            </div>
          </div>
        </div>
      </div>
     
      </div>
</section>

<div class="background">
    <h1 class="text fw-bolder">ZELALEM KEBEDE ALEMAYEHU</h1>
    <h2 class="text">GENERAL IMPORT AND EXPORT</h2>
  </div>


