<section class=" mt-5 pt-3">
    <div class="  m-5 pt-5">
      <h1 class="fw-bold h1 text-center">OUR EXPORT PRODUCTS</h1>
    </div>

    <div class="container row mx-auto">   
      <div class="card-container mb-5">
        <div class="float-layout">
          <div class="card-image" >
            <img class=""  src="../../../assets/images/seeds/coffee3.webp" alt="">
            <div class="card">
              <div class="card-title">Coffee</div>
              <div class="card-desc">
                <samp>Coffee is the 117th most traded product in the world consumed by people located in all corners of the planet. 
                  Ethiopia has been growing coffee for centuries, and it is the birthplace of Coffea Arabica.Ethiopia is known for
                   exportring coffee to the world market.And <code>ZELALEM KEBEDE IMPORT EXPORT</code> is one of the exporter to export the above commodities.</samp>
              </div>
              <p class="card- ms-2"><small class="text-muted">Last updated a while ago</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-container mb-5">
        <div class="float-layout">
          <div class="card-image">
            <img class=""  src="../../../assets/images/seeds/oilseed1.jpg" alt="">
            <div class="card">
              <div class="card-title">Oil Seeds</div>
              <div class="card-desc">
                <samp>
                  Ethiopia grows high-value oilseeds that are coveted around the world, and are in high demand. 
                  The seeds produced in Ethiopia include sesame seeds, mustard, pumpkin, sunflower, rapeseed,
                  castor seed, and groundnuts. Oilseeds accounted for $446 million in exports for the year 2022.
                   And <code>ZELALEM KEBEDE IMPORT EXPORT</code> is one of the exporter to export the above commodities.
                </samp>
              </div>
              <p class="card-text ms-2"><small class="text-muted">Last updated a while ago</small></p>

            </div>
          </div>
        </div>
      </div>

      <div class="card-container mb-5">
        <div class="float-layout">
          <div class="card-image">
            <img class=""  src="../../../assets/images/seeds/kchat1.jpg" alt="">
            <div class="card">
              <div class="card-title">Kchat</div>
              <div class="card-desc">
                <samp>Ethiopia has exported more than USD 116.5 million of Chat in 2021. Chat exports 
                  have been increasing over the past year 2020/21, after witnessing a dip in the 4th 
                  quarter of the previous year. Exports have increased by 69% compared to the last quarter
                   of the same year, taking the highest percentage increase in volume among other exports 
                   including coffee and textile products. And <code>ZELALEM KEBEDE IMPORT EXPORT</code> is contributing more.</samp>
              </div>
              <p class="card-text ms-2"><small class="text-muted">Last updated a while ago</small></p>

            </div>
          </div>
        </div>
      </div>

      <div class="card-container mb-5">
        <div class="float-layout">
          <div class="card-image">
            <img class=""  src="../../../assets/images/seeds/pulse.jpg" alt="">
            <div class="card">
              <div class="card-title">Pulses</div>
              <div class="card-desc">
                <samp>Ethiopia pulses broadly refer to leguminous crops that grow for food and for oil. 
                  The most common ones are dry beans and pod beans. They range from lentils, chickpeas,
                   cowpeas, pigeon peas and dry common beans, among others. As a company we are working to increase Pulses export in Ethiopia.</samp>
              </div>
              <p class="card-text ms-2"><small class="text-muted">Last updated a while ago</small></p>

            </div>
          </div>
        </div>
      </div>

      <div class="card-container mb-5">
        <div class="float-layout">
          <div class="card-image">
            <img class=""  src="../../../assets/images/seeds/vegitable2.jpg" alt="">
            <div class="card">
              <div class="card-title">Vegitables</div>
              <div class="card-desc">
                <samp>
                  Ethiopia is known for growing a wide range of vegetables that include green beans,
                   snow peas, broccoli, asparagus, okra, cabbages, cauliflower, and eggplant among others.
                    Extensive irrigation and a vast workforce support vegetable growing. And we are working hard to increase the export rate in Ethiopia. 
                </samp>
              </div>
              <p class="card-text ms-2"><small class="text-muted">Last updated a while ago</small></p>
            </div>
          </div>
        </div>
      </div>
        
      </div>
   </section>
