<main class="mt-5" >
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-interval="0.1">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active main-heading" style="background: url('../../../assets/images/cover1.jpg') center bottom no-repeat; background-size: cover; height: 95vh">
          <h1 class="fade-item h1 fw-bold  fs-1 text-center mt-5 pt-5" style=" color: #9a1a33; left: 22%;; text-shadow: 0 0 10px #fefffe;">ZELALEM KEBEDE ALEMAYEHU</h1> 
          <h2 class="fw-bold m-2 text-center" style="color: #2465a9; left: 25%;">GENERAL IMPORT & EXPORT</h2>
          <!-- <p class="m-2 text-center" style="color: #ffffff; position: absolute; left: 17%; top: 30%; width: 100; width:800px;  height:1em;">Abebe</p> -->
        </div>
        <div class="carousel-item  main-heading" style="background: url('../../../assets/images/cars/light-10-tone.jpg') center bottom no-repeat; background-size: cover; height: 95vh">
          <h1 class="fade-item h1 fw-bold mt-5 pt-5 text-center" style="left: 20%;  color: #2465a9;">SINO TRUCKS AND TRACKERS</h1>
          <p class="fade-item fw-bold mt-3 text-center" style="   left: 30%;color: #2465a9;">Variety of Sino and other Cars</p>
        </div>
        <div class="carousel-item main-heading" style="background:linear-gradient(to top, rgba(30, 6, 165, 0.1), rgba(255, 0, 0, 0.25)), url('../../../assets/images/steels/steelandpipe.webp') center bottom no-repeat; background-size: cover; height: 95vh">
          <h1 class="fade-item h1 fw-bold mt-5 pt-5" style="position:absolute; left: 25%;  color: white;">STEELS AND PIPES</h1>
          <p class="fade-item fw-bold" style=" position:absolute;  left: 25%; color: white;">With hign quality and durablity</p>
        </div>
        <div class="carousel-item main-heading" style="background:  url('../../../assets/images/seeds/coffeecover.jpg') center bottom no-repeat; background-size: cover; height: 95vh">
          <h1 class="fade-item h1 fw-bold mt-5 pt-5" style="position:absolute; left: 25%;  color: white;">GRAINS AND SEEDS</h1>
          <p class="fade-item fw-bold" style=" position:absolute;   left: 25%; color: white;">Diffrent types of grains and Seeds</p>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visuallyh1 fw-bold-hidden">Next</span>
      </button>
    </div>
    <div>

    </div>
</main>

<section class="text-center mt-5 mb-5 fw-bold " style="background: linear-gradient(110deg, #9a1a33 30%, #2465a9 10%); ">
  <div class="wrapper m-2 mb-5 ">
    <div class="static-txt dynamic-txts text-center fs-2 mt-5" style="color:#ffffff">Our Import and Export Products</div>
    <ul class="dynamic-txts fw-bold pb-5">
      <li><span> SINOTRUCKS AND TRACKERS</span></li>
      <li><span>STEELS AND PIPES</span></li>
      <li><span>CHEMICALS</span></li>
      <li><span>GRAINS AND SEEDS</span></li>
    </ul>
  </div>
</section>

<h1 class="text-center mt-5 mb-5 fw-bold">OUR ACHIVEMENTS</h1>
<section class="section">
  <div class="icons background">
    <img class="" src="../../../assets/icons/winner-1315.svg" alt="">
    <div class="container">
      <div class="num text-center fs-2 " data-goal="50" style=" color: #ffffff">12,300<sup>+</sup></div>
      <h6 style="color:#ffffff" class="text-center fw-bold fs-5">Car Sales</h6>
    </div>
</div>
<div class="icons background">
  <img class="" src="../../../assets/icons/client-5251.svg" alt="">
  <div class="container">
    <div class="num text-center fs-2 " data-goal="50" style=" color: #ffffff">20,000<sup>+</sup></div>
    <h6 style="color:#ffffff" class="text-center fw-bold fs-5">Customers</h6>
    </div>
</div>
<div class="icons background">
  <img class="" src="../../../assets/icons/earning-money-2968.svg" alt="">
  <div class="container">
    <div class="num text-center fs-2 " data-goal="50" style="color: #ffffff">20<sup>+</sup></div>
    <h6 style="color:#ffffff" class="text-center fw-bold fs-5">Export Items</h6>
    </div>
</div>
</section>

<section>
    <div class="  m-5">
      <h1 class="fw-bold h1 text-center">EXPORT ITEMS</h1>
    </div>
  
    <div class="container row mx-auto">
      <hr class="mb-5">
      <div class="card col-lg-4 col-md-6 col-sm-12 pulses p-3 mb-5">
        <img src="../../../assets/images/seeds/coffee3.webp" alt="" class="img-fluid">
        <hr>
        <div class="card-body">
            <h5 class="fs-3 mt-3 mb-3 text-center">COFFEE</h5>
        </div>
      </div>
   
      <div class="card col-lg-4 col-md-6 col-sm-12 pulses p-3 mb-5">
        <img src="../../../assets/images/seeds/oilseed1.jpg" alt="" class="img-fluid">
        <hr>
        <div class="card-body">
            <h5 class="fs-3 mt-3 mb-3 text-center">OIL SEEDS</h5>
        </div>
      </div>
     
      <div class="card col-lg-4 col-md-6 col-sm-12 pulses p-3 mb-5">
        <img src="../../../assets/images/seeds/vegitable2.jpg" alt="" class="img-fluid">
        <hr>
        <div class="card-body">
            <h5 class="fs-3 mt-3 mb-3 text-center">VEGITABLES</h5>
        </div>
      </div>   
      <hr class="mb-5 mt-3">

    </div>
   </section>

   <section class="top-features ms-2 me-2">
    <h2 class="text-center m-5 fw-bold h1" style="color: black;">OUR IMPORTS</h2>
    <div class="card-group ">
        <div class="card m-2  border-bottom rounded-5">
            <div class="card-img">
                <img src="../../../assets/images/cars/yellowcar.jpg" alt="" class="img-fluid " height="100%">
            </div>
            <hr class="mt-3 ms-5 me-5">
            <div class="card-body overlay-text d-flex justify-content-between">
                <h4 class="fw-bold ms-5 mt-3">SINO TRUCKS</h4>
                <button class="fs-6 btn btn-outline-primary p-1 me-5 mt-2 mb-2" routerLink="/imports">Find More</button>
            </div>
        </div>
        <div class="card m-2 border rounded-5">
            <div class="card-img ">
                <img src="../../../assets/images/chemicals/chem1.jpg" alt="" class="img-fluid">
            </div>
            <hr class="mt-3 ms-5 me-5">

            <div class="card-body overlay-text  d-flex justify-content-between">
                <h4 class="fw-bold  ms-5 mt-3">Chemicals and minerals</h4>
                <button class="fs-6 btn btn-outline-primary p-2 me-5 mt-2 mb-2" routerLink="/imports">Find More</button>
            </div>
        </div>
        <div class="card m-2 border rounded-5">
            <div class="card-img ">
                <img src="../../../assets/images/steels/steel3.jpg" alt="" class="img-fluid">
            </div>
            <hr class="mt-3 ms-5 me-5">

            <div class="card-body overlay-text  d-flex justify-content-between">
                <h4 class="fw-bold  ms-5 mt-3">Steels and Irons </h4>
                <button class="fs-6 btn btn-outline-primary p-2 me-5 mt-2 mb-2" routerLink="/imports">Find More</button>
            </div>
        </div>
    </div>
</section>

 <section>
  <div class=" d-flex align-items-center justify-content-center mt-5 pt-5 mb-5 ">
    <div class="containerer container rounded">
        <div class="h1 fw-bold text-center mt-2">CARS YOU CAN BUY NOW!    </div>
        <div class="h3 text-center pt-2">With Great Discount!</div>
        <div class="rollers position-relative overflow-hidden">
            <div class="start-roller"></div>
            <div class="wrapper">
                <div class="items-container roll-LL">
                    <div class="item">
                        <img src="../../../assets/images/cars/cavator.png" alt="" class="company">
                    </div>
                    <div class="item">
                      <img src="../../../assets/images/cars/doosan.jpg" alt="" class="company">
                    </div>
                    <div class="item">
                      <img src="../../../assets/images/cars/loader.jpeg" alt="" class="company">
                    </div>
                    <div class="item">
                      <img src="../../../assets/images/cars/dumpgood.jpg" alt="" class="company">
                    </div>
                    <div class="item">
                      <img src="../../../assets/images/cars/light-10-tone.jpg" alt="" class="company">
                    </div>
                    <div class="item">
                      <img src="../../../assets/images/cars/mixer.jpg" alt="" class="company">
                    </div>
                </div>
                <div class="items-container roll-RL">
                    <div class="item">
                      <img src="../../../assets/images/cars/shawor1.webp" alt="" class="company">
                    </div>
                    <div class="item">
                      <img src="../../../assets/images/cars/tubcar.jpg" alt="" class="company">
                    </div>
                    <div class="item">
                      <img src="../../../assets/images/cars/light-tuck.webp" alt="" class="company">
                    </div>
                    <div class="item">
                      <img src="../../../assets/images/cars/371-HOWO-Sino.jpg" alt="" class="company">
                    </div>
                    <div class="item">
                      <img src="../../../assets/images/cars/cavator2.jpg" alt="" class="company">
                    </div>
                    <div class="item">
                      <img src="../../../assets/images/cars/dump.jpg" alt="" class="company">
                    </div>
                </div>
            </div>
            
            <div class="end-roller"></div>
        </div>
    </div>
</div>
 </section>


