<section>
    <div class=" d-flex align-items-center justify-content-center  mt-5 pt-5 mb-5">
      <div class="containerer container rounded">
          <div class="h1 fw-bold text-center mt-5">CARS YOU CAN BUY NOW!    </div>
          <div class="h3 text-center pt-2">With Great Discount!</div>
          <div class="rollers position-relative overflow-hidden">
              <div class="start-roller"></div>
              <div class="wrapper">
                  <div class="items-container roll-LL">
                      <div class="item">
                          <img src="../../../assets/images/cars/cavator.png" alt="" class="company">
                      </div>
                      <div class="item">
                        <img src="../../../assets/images/cars/doosan.jpg" alt="" class="company">
                      </div>
                      <div class="item">
                        <img src="../../../assets/images/cars/loader.jpeg" alt="" class="company">
                      </div>
                      <div class="item">
                        <img src="../../../assets/images/cars/dumpgood.jpg" alt="" class="company">
                      </div>
                      <div class="item">
                        <img src="../../../assets/images/cars/light-10-tone.jpg" alt="" class="company">
                      </div>
                      <div class="item">
                        <img src="../../../assets/images/cars/mixer.jpg" alt="" class="company">
                      </div>
                  </div>
                  <div class="items-container roll-RL">
                      <div class="item">
                        <img src="../../../assets/images/cars/shawor1.webp" alt="" class="company">
                      </div>
                      <div class="item">
                        <img src="../../../assets/images/cars/tubcar.jpg" alt="" class="company">
                      </div>
                      <div class="item">
                        <img src="../../../assets/images/cars/light-tuck.webp" alt="" class="company">
                      </div>
                      <div class="item">
                        <img src="../../../assets/images/cars/371-HOWO-Sino.jpg" alt="" class="company">
                      </div>
                      <div class="item">
                        <img src="../../../assets/images/cars/cavator2.jpg" alt="" class="company">
                      </div>
                      <div class="item">
                        <img src="../../../assets/images/cars/dump.jpg" alt="" class="company">
                      </div>
                  </div>
              </div>
              
              <div class="end-roller"></div>
          </div>
      </div>
  </div>
   </section>
  
  
   <section>
    <div class=" d-flex align-items-center justify-content-center mt-5 pt-5 mb-5">
      <div class="containerer container-fluid rounded">
          <div class="h1 fw-bold text-center mt-2">DIFFERENT TYPES OF STEELS WITH LARGE AMOUNT!    </div>
          <div class="h3 text-center pt-2 mb-5">With Great Discount!</div>
          <div class="rollers position-relative overflow-hidden">
              <div class="start-roller"></div>
              <div class="wrapper">
                  <div class="items-container reverse-roll-LL">

                      <div class="item">
                        <img src="../../../assets/images/steels/st3.jpg" alt="" class="company">
                      </div>
                      <div class="item">
                        <img src="../../../assets/images/steels/st4.jpg" alt="" class="company">
                      </div>
                      <div class="item">
                        <img src="../../../assets/images/steels/st5.jpg" alt="" class="company">
                      </div>
                      <div class="item">
                        <img src="../../../assets/images/steels/st6.jpg" alt="" class="company">
                      </div>
                      <div class="item">
                        <img src="../../../assets/images/steels/st7.jpg" alt="" class="company">
                      </div>
                  </div>
                  <div class="items-container reverse-roll-RL">
                      <div class="item">
                        <img src="../../../assets/images/steels/st8.jpg" alt="" class="company">
                      </div>
                      <div class="item">
                        <img src="../../../assets/images/steels/st9.jpg" alt="" class="company">
                      </div>
                      <div class="item">
                        <img src="../../../assets/images/steels/steel3.jpg" alt="" class="company">
                      </div>
                      <div class="item">
                        <img src="../../../assets/images/steels/steel2.webp" alt="" class="company">
                      </div>
                      <div class="item">
                        <img src="../../../assets/images/steels/steel.jpg" alt="" class="company">
                      </div>
                      <div class="item">
                        <img src="../../../assets/images/steels/steel1.jpg" alt="" class="company">
                      </div>
                  </div>
              </div>
              
              <div class="end-roller"></div>
          </div>
      </div>
  </div>
   </section>

   <section class="top-features">
    <h2 class="text-center m-5 fw-bold h1" style="color: black;">VARIETY OF CHEMICALS</h2>
    <div class="card-group">
        <div class="card m-2">
            <div class="card-img">
                <img src="../../../assets/images/chemicals/chem1.jpg" alt="" class="img-fluid " height="100%">
            </div>

        </div>
        <div class="card m-2">
            <div class="card-img ">
                <img src="../../../assets/images/chemicals/chemical1.jpg" alt="" class="img-fluid">
            </div>
   
        </div>
        <div class="card m-2">
            <div class="card-img ">
                <img src="../../../assets/images/chemicals/chemical7.jpg" alt="" class="img-fluid">
            </div>

        </div>
    </div>
</section>